@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&display=swap');

body{
    color: black;
    background: linear-gradient(120deg, #DEF0F5 8.7%, #FDDEBA 113.57%);
}

.offcanvas-body li a {
    color: black;
}
.container {
    padding-top: 4%;
}
.navbar .navbar-brand {
    font-family: "comfortaa", sans-serif;
    font-size: 32px;
    color: #25297D;
    text-decoration: none;
}
.offcanvas-body {
    color: black;
}


.navbar-toggler .bi-list {
    font-size: 1.5rem;
    color: rgb(0, 0, 0); 
}

.hero {
    display: flex;
    align-items: center; 
    color: black;
    padding: 10% ; 
    padding-top: 0px;
    padding-left: 180px;
    padding-bottom: 0px;
}
.hero2 {
    display: flex;
    align-items: center; 
    color: black;
    padding: 10% ;
    padding-top: 280px;
    padding-left: 180px;
    padding-bottom: 0px;
}

.hero-content {
    margin: 0 auto;
    flex: 1;
}

.hero2-content {
    margin: 0 auto;
    flex: 1;
}

.hero1-content h1 {
    font-size: 48px;
    margin-bottom: start;
    margin-bottom: 5px;
}

.hero2-content h1 {
    font-size: 48px;
    margin-bottom: start;
    margin-bottom: 5px;
}

.hero-content p {
    color: rgba(0, 0, 0, 0.67);
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
    margin-bottom: 40px;
}

.hero2-content p {
    color: rgba(0, 0, 0, 0.67);
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
    margin-bottom: 40px;
}
.carousel {
    margin-top: 150px;;
}
.carousel-item img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin: 0 auto;

}

.info {
    display: flex;
    align-items: center; 
    background-color: white;
    color: black;
    padding: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0;
}

.info-image img {
    width: 600px;
    height: auto;
}

.info-content {
    padding-top: 10%;
    padding-right: 50px;
}

.info-content h1 {
    font-family: "comfortaa", sans-serif;
    color: #25297D;
    text-align: start;
    font-size: 36px;
    padding-bottom: 5px;
}
.info-content p {
    color: rgba(0, 0, 0, 0.64);
    font-size: 24px;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
    padding-bottom: 50px;
    padding-top: 10px;
}
/*--Approach --*/
.approach{
    display: flex;
    align-items: center; 
    background: #FDDEBA;    
    color: black;
    padding: 10% ; 
    padding-top: 0px;
    padding-bottom: 0px;
}

.approach2{
    display: flex;
    align-items: center; 
    background: #FDDEBA;    
    color: black;
    padding: 10% ; 
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.approach-image img {
    width: 600px;
    height: auto;
}

.approach2-image img {
    width: 600px;
    height: auto;
}

.approach-content {
    padding-top: 15%;
    padding-left: 50px;
}

.approach2-content {
    padding-left: 50px;
}

.approach-content h1 {
    font-family: "comfortaa", sans-serif;
    color: #25297D;
    text-align: start;
    font-size: 48px;
    padding-bottom: 5px;
}


.approach-content p {
    color: rgba(0, 0, 0, 0.66);
    font-size: 20px;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}

.approach2-content p {
    color: rgba(0, 0, 0, 0.66);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}
.services-heading {
    padding-top: 10%;
    text-align: center;
}
.image-section {
    padding-bottom: 5%;
}
/*--choose --*/
.choose {
    display: flex;
    align-items: center; 
    background: #FDDEBA;  
}
.choose-image img {
    width: 600px;
    height: auto;
}
.choose-content {
    padding-right: 90px;
    padding-top: 15%;

}
.choose-content h1 {
    font-family: "comfortaa", sans-serif;
    color: #25297D;
    text-align: start;
    font-size: 48px;
    padding-bottom: 5px;
}
.choose-content p {
    color: rgba(0, 0, 0, 0.66);
    font-size: 20px;
    font-style: normal;
    text-align: start;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15% 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0.53) 100%), url(./src/location.png) lightgray 0px -945px / 100% 293.173% no-repeat;
}
.title-location {
    margin-bottom: 20px; 
}
.title-location h1 {
    font-family: "comfortaa", sans-serif;
    color: #ffffff;
    font-size: 40px;
}
.dropdown .btn {

}
.footer-info h1 {
    color: #25297D;

}
.foot-logo h1 {
    font-family: "comfortaa", sans-serif;
    font-size: 42px;
    color: #25297D;
}
@media(max-width: 991px) {
    .sidebar{
        background-color: rgba(35, 22, 6, 0.282);
        backdrop-filter: blur(10px);
    }
    .hero {
        flex-direction: column; /* Change layout to column */
        margin-top: 150px;
      }
    
      .hero-content {
        text-align: center; /* Center the content */
      }
    
      #carouselExampleSlidesOnly {
        order: 2; /* Move the carousel below the content */
      }
      .choose-image img {
        width: 500px;
        height: auto;
    }
}